@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    button{
        @apply p-1 w-12 h-7;
    }
}
*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
.slide{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}
.images::before{
    content: "";
    position: absolute;
    background:rgba(10,10,10,0.823);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
}
.images-hidden{
    display: none;
    background: rgba(0,0,0,0.686);
}
.images-hidden{
    display: none;
}
.Trending{
    overflow: scroll;
}
*::-webkit-scrollbar{
    width: 0px;
}
*::-webkit-scrollbar-track{
    background-color: transparent;
}
*::-webkit-scrollbar-thumb{
    background-color: transparent;
}
.control-arrow,.control-prev{
    top: 50% !important;
    height: 100px !important;
}